
{% extends "layout.html" %}
{% block content %}
	<img src="https://2.bp.blogspot.com/-7zrm2mU6lAo/WEaD9zR-xmI/AAAAAAAAUVI/yYWqnRlSBC0jBq9-Kre8mEodB6TjrzCTwCK4B/s752/fmltrang-4.png" alt="familug_cover">
    <h2>Welcome to Familug Posts (Click to see detail)</h2>
	<div class="row">
    	<div class="col">
    		<a href="/familug/python">CLICK TO SEE PYTHON</a>
    	</div>
    	<div class="col">
    		<a href="/familug/command">CLICK TO SEE COMMAND</a>
    	</div>
    	<div class="col">
    		<a href="/familug/sysadmin">CLICK TO SEE SYSADMIN</a>
    	</div>
    	<div class="col">
    		<a href="/familug/lastest">CLICK TO SEE LASTEST</a>
    	</div>
	</div>
{% endblock %}