
{% extends "layout.html" %}
{% block content %}

        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="/awesomejobs">Ngoc Vinh Vu</a>
              <small class="text-muted">January 10, 2021</small>
            </div>
            <h2><a class="article-title" href="/awesomejobs">Awesome Jobs</a></h2>
            <p class="article-content"></p>
          </div>
        </article>
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="/awesomejobs">NgocVinhVu</a>
              <small class="text-muted">January 10, 2021</small>
            </div>
            <h2><a class="article-title" href="/familug">Familug</a></h2>
            <p class="article-content"></p>
          </div>
        </article>

{% endblock content %}